.best-selling-section h1{
    text-align: center;
    font: normal normal bold 60px/80px Quicksand;
    letter-spacing: 0px;
    color: #E17E31;
    opacity: 1;
}

.best-selling {

    display: grid;
    grid-gap: 30px;
    /* grid-template-columns: repeat(2, 1fr);

    grid-template-rows: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, 40rem);
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
}
.best-item-wrapper{
    padding:0%;
    margin: 0%;
}

.best-item-wrapper span:nth-child(3){
    float:right;
    margin-right: 3%;
}
.best-item-footer{
    display: block;
    padding:0;
}
.best-item-footer h1 {
    display: inline-block;
    color: #25374B;
    font: normal normal bold 30px/80px Quicksand;
    /* font-size: 20px; */
    

}
.best-item-footer h1:nth-child(2) {
    float:right;
    margin-right:5%;
    color: #FF9100;

}
.stars{
    display:block;
    float:left;
}
.stars i{
    color:#FF9100;
}

.best-selling img{
    /* width: 625px; */
}

 .best-item {
    /* background-image: url('./static/images/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2014__06__tuna-pasta-tomato-olives-horiz-a-1800-bacd443da10e41ebb50e44b@2x.png') */
    

    width: 625px;
    height: 350px;
    background-image: url('../images/david-benes-zsRhTW3qrmo-unsplash@2x.png');
    background-size: cover;
    /* margin:5px;  */
    /* important above line */
    border-radius: 10px;

}

.best-item button{
    position: sticky;
    margin-bottom: 2.5%;
    margin-left: 2%;
    

    left:3%;
    top:90%;
    border: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    width:60px;
    height:30px;
    border-radius:10px;
    font-size: 1.3em;
}