.food-categories-section{
    background: #FFFFFF 0% 0% no-repeat padding-box;

    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-rows: 1fr 3fr;
    padding-left: 8%;
    padding-right: 8%;
}

.food-categories-section h1 {
    text-align: center;
    color: #E17E31;
    font: normal normal bold 60px/80px Quicksand;
}
.food-categories-section p {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font: normal normal normal 18px/24px DM Sans;
}

.food-categories{
    background: #FFFFFF 0% 0% no-repeat padding-box;

    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, 15rem);
    justify-content: center;
    /* margin: auto; */
    /* grid-template-rows: 1fr 6fr; */
}

.category{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    justify-content: center;
    margin: auto;
}

.category h3{
    text-align: center;
    padding-top: 20px;
    margin:auto;
    font: normal normal bold 30px/80px Quicksand;
}
 .category img{
     border-radius: 10px;
 }
