.stay-connected{
    /* background: transparent url('img/shutterstock_1134436058.png') 0% 0% no-repeat padding-box; */
    background: transparent url('../images/shutterstock_1134436058.svg') 0% 0% no-repeat padding-box;
    background-size: cover;
    padding: 4% 8%;
    margin:auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "stay-connected-text stay-connected-form ";

    margin: 0% 8%;
    height: 487px;
    border-radius: 10px;
}
.stay-connected-text{
    grid-area: stay-connected-text;
}
.stay-connected-text h1 {
    font: normal normal bold 60px/60px Quicksand;
    color:#FFFFFF;
    line-height: 40%;
}
.stay-connected-text h1:nth-child(1) {
    margin-top: 25%;
}
.stay-connected-form {
    grid-area: stay-connected-form;
}
.stay-connected-form input:nth-child(n+1):nth-last-child(n+3) {
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    height: 60px;
    border-radius: 6px;
    opacity: 1;
    margin-bottom: 5%;
    /* placeholder */
}

.checkboxClass {
    border-radius: 6px;
    height:20px;
}

.stay-connected-for> button{
    color:brown;
    display:block;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    
    /* .stay-connected {
        
        display: grid;
        grid-template-rows: 1fr, 1fr;
        padding: 8%;
        grid-template-areas: "stay-connected-text"
            "stay-connected-form "

    } */
    .stay-connected {
        display:grid;
        grid-template-rows: 1fr, 1fr;
        grid-template-areas: "stay-connected-text"
        "stay-connected-form "
    }
}